#---- default configuration
# directory with books for synchronization (path can be relative to current directory or absolute)
source: .
#---- either target directory for books on the device (always relative, proper mount will be
#---- determined automatically, cannot contain "@") or email of your kindle device ("smtp" fields
#---- have to be properly set in this case)
target: documents/mybooks

#---- directory to keep history databases for each source/target pair
history: '{{ternary (joinPath (env "HOMEDRIVE") (env "HOMEPATH") ".s2k" "history") (joinPath (env "HOME") ".s2k" "history") (eq .OS "windows")}}'

#---- to select particular connected device, this makes sure that only specific device will be used with this
#---- configuration, usually not necessary - first connected supported device is selected automatically
#---- this is ignored for e-mail delivery
# device_serial: "DEVICE_SN"

#---- Source files with following extensions are books to synchronize
book_extensions: [.mobi, .azw3, .azw8, .kfx, .pdf]

#---- Recognize thumbnails with following extensions (used when looking for thumbnails on target device)
thumb_extensions: [.jpg]

#---- When e-book is processed (not a personal document, aka PDOC) thumbnails are extracted and synchronized
#---- ignored if thumbnails are not accessible on device or if e-mail delivery is requested
thumbnails:
  #---- when thumbnail is prepared it will be scaled to following dimensions
  width: 330
  height: 470

#---- only used for e-mail delivery
smtp:
  # from: "sender address authorized by your Amazon account"
  server: smtp.gmail.com
  port: 587
  # user: "smtp server user"
  # password: "smtp server password"

logging:
  #---- controls terminal (stdout, stderr) output
  console:
    #---- logging level
    #---- "none"   - suppress all console logging
    #---- "normal" - messages INFO level and higher are outputted
    #---- "debug"  - all log messages are outputted
    level: normal
  #---- controls logging to a file (could duplicate CONSOLE messages)
  file:
    #---- path to the log file, could be relative to current working directory
    destination: sync2kindle.log
    #---- logging level
    #---- "none"   - suppress file logging
    #---- "normal" - messages INFO level and higher are printed
    #---- "debug"  - all log output is printed
    level: debug
    #---- how to handle output file during consecutive program runs
    #---- "append"    - keep all old log messages, append new ones at the end
    #---- "overwrite" - keep only messages from the last run, log is overwritten
    #mode: append
    mode: overwrite

#---- when program runs with "debug" option report file is produced at the specified destination
#---- it contains full debug log and other artifacts to help with troubleshooting
reporting:
  #---- could be relative to current working directory.
  destination: sync2kindle-report.zip
  # vim: set filetype=yaml:
